RewriteEngine On

# Ignorer les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^ index.php [QSA,L]

Options -Indexes

# Redirection si quelqu’un tente d’accéder à un dossier sans index
DirectoryIndex /app/src/login.thml

# Rediriger vers une autre page si aucune page index n’existe
ErrorDocument 403 /app/src/login.html
