body {
    
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0a9b5725;
    margin-top: 40px;
    display:grid;
}
textarea, select {   
    background-color: #0a9b5725;
}
button { 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #314a4b;
    color: white;
    transition: background 0.3s;
    margin-bottom: 10px;
}
button .icon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

button:hover {
    background-color: #577e80;
}
label, textarea {
    margin-top: 20px;
}
canvas {
    border: 1px solid #314a4b;
    height: auto;
}
.messageAndDraw {
    visibility: hidden;
    margin-top: 40px;
    display:grid;
}