body {
    
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0a9b5725;
    margin: 0px;
}

#canvas {
    border: 3px solid black;
    border-radius: 10px;  
    margin-left: auto;
    margin-right: auto;
    display: block;
    touch-action: none;
    width: 90%; 
    height: 400px;
}

h1 {
    font-family: "Belleza", sans-serif;
}

#app {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

.buttons {
    display: flex;  
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

button { 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #314a4b;
    color: white;
    transition: background 0.3s;
    margin-bottom: 10px;
}
button .icon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

button:hover {
    background-color: #577e80;
}


#draws-container {
    margin-left:auto;
    margin-right:auto;
    max-height: 50vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
textarea, select {   
    background-color: #0a9b5725;
}
input {
    background: #0a9b5725;
}
#description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
text {
    font-family: "Belleza", sans-serif;
    font-size: 30px;
    color: #314a4b;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
